nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(image/header-m.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

.title-1 {
    color: white;
    font-size: 29px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 2px #000000;
}

.title-2 {
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    text-shadow: 2px 2px 1px #000000;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}


.card-margin {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.container-profil {
    background-image: linear-gradient(to bottom right, #8E2DE2, #4A00E0);
    height: 530px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.box-profil {
    padding: 20px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-profil {
    color: white;
    font-size: 30px;
    font-weight: 600;
}


.profil-deskripsi {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
}


.foto-profil {
    width: 150px;
    border-radius: 50% 50%;
}

.container-syarat {
    background-image: linear-gradient(to bottom right, #e22dac, #4A00E0);
    height: 550px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.box-syarat {
    padding: 20px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.title-text-syarat {
    color: white;
    font-size: 30px;
    font-weight: 600;
}


.text-syarat {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.container-cta {
    background-image: linear-gradient(to bottom right, #e22d30, #4A00E0);
    height: 700px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.box-cta {
    padding: 20px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box-materi {
    padding: 20px;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.text-cta {
    color: white;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.list-cta {
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.label-cta {
    color: white;
    font: 18px;
    font-weight: 600;
}

.btn-cta {
    padding: 10px;
    color: white;
    font-weight: 700;
    background-color: rgb(6, 188, 6);
    border: none;
    border-radius: 15px;
    width: 170px;
}

.container-materi {
    background-image: linear-gradient(to bottom right, #2de269, #4A00E0);
    height: 400px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
}

.btn-materi {
    padding: 10px;
    color: white;
    font-weight: 700;
    background-color: #e28d2d;
    border: none;
    border-radius: 15px;
    width: 170px;
}

.container-kontak {
    background-image: linear-gradient(to bottom right, #e28d2d, #4A00E0);
    height: 400px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.box-kontak {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

.title-text-kontak {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.text-kontak {
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.margin-text-kontak {
    margin-top: 40px;
}

.sosmed-size {
    width: 40px;
}

/* Status CSS */

.container-status {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, #e22d30, #4A00E0);
}

.text-status {
    color: white;
    font-size: 20px;
    font-weight: 700;
    overflow-wrap: break-word;
    text-align: center;
    padding: 20px;
}

.btn-status {
    padding: 10px;
    color: white;
    font-weight: 700;
    background-color: rgb(6, 188, 6);
    border: none;
    border-radius: 15px;
    width: 170px;
}

/* Page Data */

.container-data {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.body-data {
    background-image: linear-gradient(to bottom right, #e22d30, #4A00E0);
    background-repeat: no-repeat;
    background-attachment: fixed;
}



@media only screen and (orientation: landscape) {

    nav {
        background-image: url(image/header-hd.jpg);
        height: 400px;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
    }

    .title-1 {
        font-size: 60px;
    }

    .title-2 {
        width: 700px;
        font-size: 19px;
    }

    .contaier-flex {
        display: flex;
        margin-top: 20px;

    }

    .container-profil {
        width: 1300px;
        height: 450px;
    }

    .container-syarat {
        width: 100%;
        height: 400px;
    }


    .text-cta {

        font-size: 30px;
        font-weight: 600;

    }

    .list-cta {
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    .size-input {
        width: 500px;
    }

    .text-status {
        font-size: 40px;
    }

}